body {
    background-color: #eef2f3;
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #495057;
    font-weight: bold;
}

input.form-control {
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-secondary {
    text-align: center;
    font-size: 1rem;
}
